@import "../Global/theme";

#about .container:nth-of-type(2) {
  width: 96%;
  background-color: $bground;
  border: 7.5px ridge $yellow;
  border-radius: 10%;
  margin: auto;
  overflow: hidden;

  & h2 {
    background-image: linear-gradient(
      180deg,
      $lightyellow,
      $yellow,
      $darkeryellow
    );
    border-bottom: 5px ridge $yellow;
    border-radius: 20px;
    text-align: center;
    padding: 1em;
  }

  & p {
    text-align: center;

    &:first-of-type {
      width: 30em;
      background-color: rgb(255, 255, 135);
      border: 3px solid rgb(255, 255, 109);
      border-radius: 100%;
      padding: 2em;
      margin: 1em auto;
    }

    &:nth-of-type(2) {
      font-size: 1.2em;
    }

    &:nth-of-type(3),
    &:last-of-type {
      font-size: 1.2em;
      padding: 1em;
    }

    &:last-of-type a {
      color: black;
    }
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 4em;
    margin: 2em 0.5em 5em;
    justify-content: center;

    & li::before {
      width: 140px;
      height: 15px;
      content: "";
      background-image: linear-gradient(
        135deg,
        $lightyellow,
        $yellow,
        $darkeryellow
      );
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2.5em 0.5em;
      z-index: -1;
    }

    // the ring insides
    & li {
      // background-image: linear-gradient(
      //   135deg,
      //   $darkeryellow,
      //   $yellow,
      //   $lightyellow
      // );
      width: 110px;
      height: 15px;
      text-align: center;
      list-style-type: none;
      // border: 5px solid $lightyellow;
      border-radius: 100%;
      position: relative;
      padding: 1em 1.3em;
      margin: auto;
      z-index: 1;
      word-break: break-all;
    }

    // white bground
    & li::after {
      content: "";
      width: 110px;
      height: 5px;
      background-color: $white;
      // background-image: linear-gradient(
      //   135deg,
      //   $darkeryellow,
      //   $yellow,
      //   $lightyellow
      // );
      border: 5px solid $lightyellow;
      border-radius: 100%;
      position: absolute;
      top: 0px;
      left: 10px;
      padding: 1.7em 0.5em;
      z-index: -1;
    }
  }

  @media (max-width: 580px) {
    & ul {
      grid-template-columns: 1fr;
      margin-bottom: 5em;
    }
  }

  @media (min-width: 1040px) {
    & ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
